<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Working Papers</h3>
      {% for item in site.data.research.index %}
        <p><h4>{{ item.name }}</h4> 
          {% if item.coauthors!='' %}
            with 
            {% for coauthor in item.coauthors %}
              <a href={{coauthor.website}}>{{ coauthor.name }}</a>{{ coauthor.del }}
            {% endfor %}
          {% endif %}
          {% if item.status!='' %}
          <p align="justify">{{ item.status }}</p>
          {% endif %}
          </p>
        <p align="justify">{{ item.summary }}</p>
        <p style="color:Gray;" align="justify">{{ item.presented_at }}</p>
      {% endfor %}
  </div>
    <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Work in Progress</h3>
      {% for item in site.data.wip.index %}
        <p><h4>{{ item.name }}</h4> 
          {% if item.coauthors!='' %}
            with 
            {% for coauthor in item.coauthors %}
              <a href={{coauthor.website}}>{{ coauthor.name }}</a>{{ coauthor.del }}
            {% endfor %}
          {% endif %}
          </p>
        <p align="justify">{{ item.summary }}</p>
        <p style="color:Gray;" align="justify">{{ item.presented_at }}</p>
      {% endfor %}
  </div>
</div>
